<div class = "pretty">
<h2>Categories</h2>
<table border = "2">
	<thead>
      <tr>
        <th>CategoryName</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
<tbody>
{{#categories}}
<tr>
  <td><h3>{{catname}}</h3></td>
  <td><button><a href="/categories/edit/{{id}}">Edit</a></button></td>
  <td><button><a href="/categories/delete/{{id}}">Delete</a></button></td>
 </tr>
{{/categories}}
</tbody>
</table>

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div id="add">
	
	<h2>Add a category</h2>
	<form action="categories/add" method="POST">
		Name: <input type="text" name="catname">	
		<input type="submit">
	</form>
</div>
</div>