<table border="2" id="saleSearchResults">
    <thead>
      <tr>
        <th>ProductName</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

{{#sales}}
<tbody>
	<tr>
	  <td><h5>{{name}}</h5></td>
	  <td><h5>{{date}}</h5></td>
	  <td><h5>{{quantity}}</h5></td>
	  <td><h5>{{price}}</h5></td>
	</tr>
</tbody>
{{/sales}}
</table>