<div class = "pretty">
<h2>Suppliers</h2>
<table border = "2">
	<thead>
      <tr>
        <th>SupplierName</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  <tbody>
{{#suppliers}}
    <tr>
	  <td><h3>{{shop}}</h3></td>
	  <td><button><a href="/suppliers/edit/{{id}}">Edit</a></button></td>
	  <td><button><a href="/suppliers/delete/{{id}}">Delete</a></button></td>
	</tr>
{{/suppliers}}
</tbody>
</table>

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div id="add">
	
	<h2>Add a supplier</h2>
	<form action="suppliers/add" method="POST">
		Name: <input type="text" name="shop">	
		<input type="submit">
	</form>
</div>
</div>