<h2>EditSales</h2>

{{#data}}
<form action="/sales/update/{{product_id}}" method="POST">
	Date: <input type="date" name="date"> <br />
	    <br />
	Name: <input type="text" name="name" value="{{name}}">
	    <br />
		<br />
	Quantity: <input type="number" name="quantity"> <br />
		<br />
	Price: <input type="number" min="0.01" step="0.01" max="2500" name="price"> 
	    <br />	
	<input type="submit">
</form>
{{/data}}
	    